.ctn-page-auth{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--background);
    z-index: 20;
}

.header-page-auth{
    padding: 17px 35px;
    justify-content: start;
    background: var(--background);
    border: none;
}

.header-page-auth img{
    display: flex;
    width: 100px;
}

.content-auth{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 80px 0 0 0;
}

.ctn-auth{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    border: 1px solid var(--light-color);
    padding: 20px;
    gap: 13px;
}

.ctn-input-auth{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.ctn-input-auth label{
    font-size: 0.9rem;
    color: var(--light-color);
    font-weight: 400;
}

.ctn-input-auth label span{
    font-size: 0.8rem;
    color: var(--muted-color);
    font-weight: 400;
}

.input-auth{
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-auth .btn-right-input{
    border: none;
    padding: 0;
    width: fit-content;
    height: fit-content;
}

.input-auth .btn-right-input:hover{
    color: var(--light-color);
    background: transparent;
}

.input-auth input{
    display: flex;
    width: 100%;
    padding: 4px 8px;
    border-radius: 3px;
    border: 1px solid var(--light-color);
    outline: none;
    background: transparent;
    font-size: 0.9rem;
    color: var(--light-color);
}

.ctn-auth a{
    font-weight: 500;
    color: var(--primary-color);
}

.ctn-auth a:hover{
    text-decoration: underline;
}

.ctn-auth p{
    margin-top: 5px;
    text-align: center;
    font-size: 0.65rem;
    font-weight: 300;
    color: var(--muted-color);
}

.ctn-auth .active{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    border: none;
    background: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--on-primary);
    border-radius: 50px;
    cursor: pointer;
}

.ctn-auth .active:hover{
    background: var(--primary-color);
    color: var(--light-color);
}

.line-auth{
    display: flex;
    align-items: center;
    gap: 10px;
}

.line-auth .hr{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.ctn-auth button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    border: none;
    background: transparent;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--light-color);
    border: 1px solid var(--light-color);
    border-radius: 50px;
    cursor: pointer;
    gap: 7px;
}

.ctn-auth button:hover{
    background: var(--light-color);
    color: var(--dark-color);
}

.ctn-auth h2{
    margin-top: 30px;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 300;
}

.ctn-auth .msg-erro{
    color: var(--danger-color);
}