.ctn-search{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--scrim);
    backdrop-filter: blur(0.5px);
    z-index: 20;
}

.search{
    margin-left: -200px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 450px;
    background: var(--background-card);
    border: 1.8px solid var(--border-color);
    border-radius: var(--border);
    box-shadow: 0px 0px 20px 10px var(--shadow);
    overflow: hidden;
}

.input-search {
    margin: 15px;
    display: flex;
    align-items: center;
    border: 1.7px solid var(--primary-color);
    border-radius: 4px ;
}

.input-search button{
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    font-size: 0.9rem;
    color: var(--gray-color);
    cursor: pointer;
}

.input-search input{
    display: flex;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--light-color);
}

.users-search{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.users-search::-webkit-scrollbar{
    display: flex;
    width: 7px;
    
}
.users-search::-webkit-scrollbar-thumb{
    background: var(--border-color);
}

.users-search h1{
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--gray-color);
    cursor: default;
}

.users-search p{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    color: var(--gray-color);
    gap: 15px;
}

.users-search p i{
    font-size: 2rem;
    color: var(--gray-color);
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.user:hover{
    background: var(--hover);
}

.info-user{
    display: flex;
    gap: 10px;
}

.info-user img{
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.content-info-user h2{
    font-size: 0.9rem;
    font-weight: 500;
}

.content-info-user h3{
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--gray-color);
}

.user button{
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: var(--gray-color);
    cursor: pointer;
}

.user button:hover{
    background: var(--hover);
}